
/* Template styles */

.header {
   width: 100%;
   font-weight: bold;
   border-top, border-bottom: 1px solid #f6f6f6;
}


h1.logotype {
  font-family: "Avant Garde Gothic Bold" , sans-serif;
  margin: 12px 0 10px 0;
  font-size: 2.08em;
  color: #2ea4c0;
}

h1.logotype a:link, h1.logotype a:visited {
  text-decoration: none;
}





/* All Workshops page */

.wsblocks {
  background-color: #f7f6f4;
  margin-bottom: 20px;
  padding-top: 20px;
}

.wsno {
  padding-left: 6px;
}


.block a { color: black;}


.block {
  font-weight: bold;
  padding: 20px 10px 0;
  height: 100px;
  text-decoration: none;
  text-align: center;
}

.pladser {
    background-color: black;
    color: white;
    text-align: right;
    padding: 0 5px;
    margin-bottom: 20px;
}


.c1 { background-color: #f1d92a; } /* yellow */
.c2 { background-color: #e679ba; } /* pink */
.c3 { background-color: #e24f21; } /* orange */
.c4 { background-color: #32b1cf; } /* blue */
.c5 { background-color: #4db068; } /* green */
.c0, .c6 { background-color: #ffffff; } /* white */


/* Workshop page */

.wsheader {
   height: 180px;
   padding: 65px 0 0 350px;
   background: #fff url('../img/skole.jpg') 20% 60%; 
}

.wsheader h2 {
    font-size: 2.4em;
    font-weight: bold;
}


.teaserimg {
   display: inline;
   float: right;
   margin-left: 10px;
}


/* Admin page */

.gstatus {
   font-size: 36px;
}


.tt {
   padding-left: 10px;
   font-family: monospace;
}
